body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/*Message Board container (grey area)*/
.container {
    text-align: bottom;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #f0f0f0;
    font-size: 18px;
       
}

    /*Input message box*/
    input[type="text"] {
        padding: 10px;
        width: 60%;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    /*Send (Enter) button*/
    button {
        margin-top: 50px;
        padding: 10px 20px;
        background-color: #208a0b;
        color: #fff;
        border: none;
        border-radius: 5px;
        width: 125px;
        cursor: pointer;
        font-size: 18px;
    }

    button:hover {
        background-color: #0056b3;
    }

    /*Display window of input message*/
    #messageContainer {
        margin:4px, 4px;
        padding:4px;
        background-color: white;
        width: 173.5vh;
        height: 38vw;
        overflow-x: auto;
        overflow-y: auto;
        text-align:justify;
        border: 1px solid;
        border-radius: 4px;
        border-color: black;
        
    }

    /* Reverse the order of the messages */
    .reverse-container {
        display: flex;
        flex-direction: column-reverse; 
    }
