/* This file is made by Tobias */

/* Structure of the navigation bar */
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px; 
    background-color: #333;
    padding-top: 20px;
    text-align: left;
    place-items: top;
    display: flex;
    flex-direction: column;
}

/* Design of navigation top bar */
.navbar topbar {
    display: block;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    background: #208a0b;

}
/* Design of navigation left bar */
.navbar leftNavBar {
    display: block;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

/* Effects of the leftbar */
.navbar leftNavBar:hover {
    background-color: #555;
}
/* Design of API input field in navigation bar */
.navbar #APIBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center; 
    width: 90%; 
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: auto;
    text-align: center;
}
.navbar #APIKeyInput {
    width: 90%; 
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    background-color: #fff; 
    color: #333; 
    position: absolute;
    bottom: 50px; 
}

/* Design of the message buttons*/
.navbar #addMessage {
    width: 90%; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #208a0b;
    color: #fff;
    cursor: pointer;
    position: absolute; 
    bottom: 10px; 
}
.navbar #addMessage:hover {
    background-color: #0056b3;
}
.navbar #statusText {
    color: red;
    margin-bottom: 80px; 
    align-self: flex-start;
    width: 100%; 
    text-align: left; 
}