.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px; 
    background-color: #333;
    padding-top: 20px;
    text-align: center;
}

.navbar topbar {
    display: block;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.navbar leftNavBar {
    display: block;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.navbar leftNavBar:hover {
    background-color: #555;
}