.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px; 
    background-color: #333;
    padding-top: 20px;
    text-align: left;
    place-items: top;
    display: flex;
    flex-direction: column;
}

.navbar topbar {
    display: block;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    background: #208a0b;

}

.navbar leftNavBar {
    display: block;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.navbar leftNavBar:hover {
    background-color: #555;
}

.navbar #APIBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align items to the bottom of the div */
    align-items: center; /* Center items horizontally */
    width: 90%; /* Adjust width as needed */
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: auto;
    text-align: center;
}

.navbar #APIKeyInput {
    width: 90%; /* Adjust width as needed */
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px; /* Space between input and button */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius for rounded corners */
    background-color: #fff; /* Add background color */
    color: #333; /* Add text color */
    position: absolute; /* Positioning the input field */
    bottom: 50px; /* 10px gap + 40px height of the button */
}

.navbar #addMessage {
    width: 90%; /* Make button width match the input width */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #208a0b;
    color: #fff;
    cursor: pointer;
    position: absolute; /* Positioning the button */
    bottom: 10px; /* Align button to the bottom */
}

.navbar #addMessage:hover {
    background-color: #0056b3;
}