.vscode
GUI/__pycache__/
LLM/__pycache__/
GUI/__pycache__/main.cpython-311.pyc
LLM/__pycache__/fireworks.cpython-311.pyc
LLM/__pycache__/fireworks.cpython-311.pyc
GUI/__pycache__/__init__.cpython-311.pyc
GUI/__pycache__/main.cpython-311.pyc
LLM/__pycache__/__init__.cpython-311.pyc
LLM/__pycache__/fireworks.cpython-311.pyc
GUI/__pycache__/__init__.cpython-311.pyc
GUI/__pycache__/main.cpython-311.pyc
LLM/__pycache__/__init__.cpython-311.pyc
