<!DOCTYPE html>
<html lang="en">
<!-- import .css files -->
<link rel="stylesheet" href="static/css/messageboard.css"> 
<link rel="stylesheet" href="static/css/navbar.css">

<!-- import .js scripts -->
<script src="static/javascripts/script.js"></script> <!-- Connects html to .js -->


<!-- Main -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
</head> 
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <leftNavBar href="#">Button 1</leftNavBar>
        <leftNavBar href="#">Button 2</leftNavBar>
        <leftNavBar href="#">Button 3</a>
    </div>

    <!-- Message Board -->
    <div class="container">
        <div id="messageContainer"></div> <!-- Text messages appear here -->
        <input type="text" id="messageInput" placeholder="Enter your message">
        <button onclick="addMessage()">Add Message</button>
    </div>
</body>
</html>
