<!DOCTYPE html>
<html lang="en">
<!-- import .css files -->
<link rel="stylesheet" href="static/css/messagecontainer.css"> 
<link rel="stylesheet" href="static/css/navbar.css">

<!-- import .js scripts -->
<script src="static/javascripts/script.js"></script> <!-- Connects html to .js -->


<!-- Main -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
</head> 
<body>
    <title>Message Board</title>
    
    <!-- Leftside Navigation Bar -->
    <div class="navbar">
        <topBar href="#">LangChain Project</topBar>
        <leftNavBar href="#">Button 1</leftNavBar>
        <leftNavBar href="#">Button 2</leftNavBar>
        <leftNavBar href="#">Button 3</leftNavBar>
    </div>

    <!-- Message Board -->

    <div class="container" style="margin-left: 250px;">
        <div id="messageContainer"></div> 
        <input type="text" id="messageInput" placeholder="Enter your message" onkeypress="enterPress(event)">
        <button id="addMessage" onclick="addMessage()">Enter</button>
    </div>

</body>
</html>
